@import "../../styles/mediaQueries.scss";

/* SECTION SECURITY */
.section-security {
  height: 50vh;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .security-container {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: center;
    position: relative;
    width: 70%;
    @include screen-size(for-desktop-only) {
      width: 85%;
    }
    .securitylogo {
      img {
        width: 7rem;
      }
    }

    .security-content {
      // display: inline-block;
      h2 {
        font-size: 2.5rem;
        display: inline-block;
        margin-bottom: 0.5rem;
      }
      p {
        font-size: 1rem;
        line-height: 2;
      }
      .security-link {
        display: inline-block;
        margin-top: 1rem;
        text-decoration: none;
        font-size: 1.1rem;
        color: #000;
      }
      .security-link:hover {
        cursor: pointer;
        border-bottom: 9px solid #6096e181;
        transition: all 0.4s linear;
      }
    }
  }
}
