.btn-cta {
  button {
    background-color: #000;
    color: #fff;
    margin: 1.5rem 0;
  }
}

button {
  font-family: "U8";
}

.btn-playstore {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-top: 0.5rem;
  a {
    text-decoration: none;
    font-size: 0.8rem;

    button {
      padding: 0.8rem 1rem;
      display: flex;
      align-items: center;
      gap: 0.5rem;
      ion-icon {
        font-size: 1.2rem;
      }
    }
  }
}
