.section-customers {
  height: 80vh;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  // padding: 4rem;
  position: relative;
  .customers-container {
    max-width: 100%;
    display: flex;
    flex-direction: row;
    padding: 2rem;
    justify-content: center;
    align-items: center;
    background-color: pink;
    gap: 2rem;
    position: relative;
    height: 100%;
    .animation-testimonials {
      width: 55%;
      background-color: aqua;
      height: 100%;
      position: relative;
      margin-bottom: auto;
    }
    .customers {
      width: 40%;
      h3 {
        font-size: 2.5rem;
        margin-bottom: 1rem;
        display: inline-block;
      }
      p {
        font-size: 1.1rem;
        line-height: 1.5;
      }
    }
  }
}
