.section-featured {
  height: 30vh;
  background-color: #f9f9f9;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  .featured-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    .featured-heading {
      font-size: 2rem;
      font-weight: bolder;
      width: 30%;
    }
    .featured-in {
      display: flex;
      justify-content: space-between;
      width: 70%;
      padding: 1rem 4rem;
      .featured-images {
        height: 2rem;
        margin-right: 3rem;
      }
    }
  }
}
