/* NAVBAR COMPONENT */
.navbar {
  background-color: #fff;
  padding: 0rem 10rem;
  max-width: 100%;
  .main-list {
    display: flex;
    flex-direction: row;
    gap: 2.5rem;
    align-items: center;
    font-size: 1.1rem;
    li {
      list-style: none;
      .logo {
        display: inline-block;
        position: relative;
      }
    }
    li:nth-child(6) {
      margin-right: auto;
    }
    li:nth-child(7) {
      position: relative;
      right: -1.5rem;
    }
    .mobile-nav {
      display: none;
    }
  }
}

button {
  padding: 1rem;
  font-size: 1.1rem;
  font-family: "DM Sans Medium" !important;
  border-radius: 13px;
  background-color: #fff;
  color: #000;
  position: relative;
  border: 1px solid rgb(142, 141, 141);
  outline: none;
}

.main-list > li:nth-child(8) > button {
  background-color: #000;
  color: #fff;
}

@media screen and (max-width: 1180px) {
  .main-list {
    gap: 1.8rem;
  }

  .main-list > li:nth-child(7) {
    margin-right: 0.5rem;
  }
}

@media screen and (max-width: 1109px) {
  .main-list > li > button {
    font-size: 0.9rem;
    padding: 0.9rem;
  }
}

@media screen and (max-width: 1064px) {
  .main-list > li > button {
    font-size: 0.8rem;
    padding: 0.9rem;
  }
}

@media screen and (max-width: 1048px) {
  .main-list > li {
    display: none;
  }
  .main-list > li:first-child {
    display: inline-block;
    margin-right: auto;
  }
  .navbar {
    padding: 0 1rem;
    margin-bottom: 3rem;
  }

  .mobile-nav {
    display: inline-block;
    text-align: right;
  }

  [name="menu"] {
    /* display: inline-block; */
    font-size: 3rem;
    /* margin-left: auto; */
    position: relative;
  }
}
