.footer {
  height: 80vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0;
  .footer-footer {
    height: 90%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .footer-container {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: flex-start;
      width: 80%;
      height: 50%;
      line-height: 2.5;
      margin-top: auto;
      .footer-logo {
        width: fit-content;
        text-align: center;
        margin-right: auto;
        img {
          height: 4rem;
        }
        .logo-footer {
          height: 3rem;
          display: block;
          margin-bottom: 2rem;
        }
        .logo-audit {
          width: 8rem;
          height: 5rem;

          border-radius: 7px;
          box-shadow: 2px 2px 8px #999;
        }
      }
      li {
        list-style: none;
        font-size: 1rem;
      }
      .footer-products {
        width: 20%;
      }
      .footer-company {
        width: 20%;
      }
      .footer-legal {
        width: 15%;
      }
      .footer-contact {
        width: 20%;
        text-align: right;
        .social-icons {
          display: flex;
          gap: 1rem;
          justify-content: flex-end;
          margin-bottom: -1rem;
          a {
            text-decoration: none;

            li {
              font-size: 1.5rem;
              color: black;
            }
          }
        }
      }
    }
    .footer-paragraph {
      text-align: center;
      width: 70%;
      margin-top: auto;
      padding: 2rem;
      p {
        font-size: 1rem;
        line-height: 1.9;
        font-weight: 500;
      }
      a {
        text-decoration: none;
        display: inline-block;
        margin-top: 1rem;
        font-size: 0.9rem;
      }
    }
  }
}
