* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  font-size: 62.5%;
  font-family: "DM Sans Medium" !important;
  color: #353535;
  padding-top: 1rem;
}

h1,
h2,
h3,
h4 {
  font-family: "U8" !important;
}

h2 {
  font-size: 1.8rem;
}

h6 {
  font-size: 1.2rem;
}
p {
  font-family: "DM Sans", sans-serif;
}

section {
  padding: 1rem 6rem;
}

.font-link {
  font-family: "DM Sans Medium" !important;
}
