@font-face {
  font-family: "U8";
  src: url(../src/font/U8-Regular/U8-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  font-size: 62.5%;
  font-family: "DM Sans", sans-serif;
  color: #353535;
  padding-top: 1rem;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h6 {
  font-family: "U8";
}

h2 {
  font-size: 1.8rem;
}

h6 {
  font-size: 1.2rem;
}

section {
  padding: 1rem 6rem;
}
